.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  margin-bottom: 60px;
}

.sectionSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
