.count {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  padding: 6px 12px;
}

.delete {
  position: absolute;
  top: 15px;
  left: 30px;
  cursor: pointer;
}

.plusMinus {
  display: flex;
  flex-direction: column;

  svg {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 54px;
    height: 54px;
  }
  h6 {
    font-weight: 400;
    font-size: 12px;
  }
}

span {
  display: flex;
  align-items: center;
}
