@import "./reset";
@import "./variables";

a {
  color: black;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.line {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 36px;
  margin: 20px 0 60px 0;
}

.subtitle {
  color: $red;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 16px 48px;
  color: white;
  background-color: $red;
  border-radius: 4px;
  margin-bottom: 140px;
  
  width: fit-content;
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
}
