@import "./reset";
@import "./variables";

a {
  color: black;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.line {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  margin-bottom: 60px;
}

.title {
  font-size: 36px;
  margin: 20px 0 60px 0;
}

.desc {
  font-size: 24px;
}

.subtitle {
  color: $red;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 16px 48px;
  color: white;
  background-color: $red;
  border-radius: 4px;
  margin-bottom: 140px;

  width: fit-content;
  cursor: pointer;
}

.button-white {
  padding: 16px 48px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}

.centered {
  display: flex;
  justify-content: center;
}
