@import "./reset";
@import "./variables";

a {
  color: black;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.line {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.subtitle {
  color: $red;
  display: flex;
  align-items: center;
  gap: 10px;
}
